<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Home</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <meta name='description' content='personal webpage or portfolio'/>
  <link rel='icon' href="https://cdn.glitch.com/aa1f58fa-6cac-4f01-9f72-fdf6fa60b0a2%2Fic_launcher.png?1534455506846" type='image/x-png'/>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
  <link rel='stylesheet' href='{% static "styles/main_style.css" %}'/>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</head>
<body data-spy='scroll' data-target='.navbar' data-offset='50'>
<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button class='navbar-toggle' data-toggle='collapse' type='button' data-target='#myNavbar'></button>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      <a class='navbar-brand' href='#home'>ERDEM | Personal</a>
    </div>
    <div class='collapse navbar-collapse' id='myNavbar'>
      <ul class='nav navbar-nav navbar-right text-uppercase'>
        <li class='nav-item active'>
          <a href='#home'>Home</a>
        </li>
        <li class='nav-item'>
          <a href='#info'>Info</a>
        </li>
        <li class='nav-item'>
          <a href='#education'>Educatıon</a>
        </li>
        <li class='nav-item'>
          <a href='#portfolio'>Portfolıo</a>
        </li>
        <li class='nav-item'>
            <a href='#skills'>Skills</a>
        </li>
        <li class='nav-item'>
          <a href='#experience'>Experience</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block home %}

{% endblock %}

<div class='container-fluid footer'>
  <div class='row'>
    <div class='col-xs-4 col-md-4 text-center'>
      <p>erdem</p>
    </div>
    <div class='col-xs-4 col-md-4 text-center'>
      <a href='https://www.freecodecamp.org/bezginback' class='icon-footer' target='_blank'>
        <i class='fa fa-free-code-camp'></i>
      </a>
      <a href='https://codepen.io/BezginBack' class='icon-footer' target='_blank'>
          <i class='fa fa-codepen'></i>
      </a>
      <a href='https://github.com/BezginBack' class='icon-footer' target='_blank'>
        <i class='fa fa-github'></i>
      </a>
      <a href='https://www.linkedin.com/in/ibrahim-erdem-kalkan-394550128' class='icon-footer' target='_blank'>
        <i class='fa fa-linkedin'></i>
      </a>
    </div>
    <div class='col-xs-4 col-md-4 text-center'>>
        <p>&copy; 2017</p>
    </div>
  </div>
</div>
</body>
</html>