{% extends 'base.html' %}

{% block home %}
    <div id="home" class="container-fluid home">
        <div class="row text-row"></div>
        <div class="row line-row"></div>
        <div class="row icon-row"></div>
    </div>
    <div id='info' class='container-fluid info'>
        <div class="row main-row">
            <div class='col-xs-4 col-md-5 name-col'></div>
            <div class='col-xs-4 col-md-2 fake-col'></div>
            <div class='col-xs-4 col-md-5 address-col'></div>
        </div>
    </div>
    <div id='education' class='container-fluid education'>
        <div class="row main-row">

        </div>
    </div>
    <div id='portfolio' class='container-fluid portfolio'>
        <div class="row main-row">

        </div>
    </div>
    <div id='skills' class='container-fluid skills'></div>
    <div id='experience' class='container-fluid experience'></div>
{% endblock %}