{% extends 'base.html' %}

{% block content %}
  <div id='home' class='container-fluid home'>
    <div class='container-fluid photo'>
      <div class='row text-right instruction'>
          <h2 class='display-2 text-uppercase'>ıbrahım erdem kalkan</h2>
          <h3 class='display-3'>A Data Science Enthusiast... an Engineer, on the road...</h3>
          <p class='lead'>... loves simplicity.</p>
      </div>
      <div class='row headline'></div>
      <div class='row mainmenu'>
        <a href='#'>
            <img src='https://cdn.glitch.com/aa1f58fa-6cac-4f01-9f72-fdf6fa60b0a2%2Fcv.png?v=1601041040857' alt='pdf cv'/>
            <div class='text-center text-uppercase lead'>CV</div>
        </a>
        <a href='#'>
            <img src='https://cdn.glitch.com/aa1f58fa-6cac-4f01-9f72-fdf6fa60b0a2%2Fproject.png?v=1601040994202' alt='latest works'/>
            <div class='text-center text-uppercase lead'>Latest Works</div>
        </a>
        <a href='#'>
            <img src='https://cdn.glitch.com/aa1f58fa-6cac-4f01-9f72-fdf6fa60b0a2%2Fin.png?v=1601040980012' alt='linkedin profile'/>
            <div class='text-center text-uppercase lead'>Lınkedın Profıle</div>
        </a>
      </div>
    </div>
  </div>
  <div id='education' class='container-fluid education'></div>
  <div id='portfolio' class='container-fluid portfolio'></div>
  <div id='contact' class='container-fluid contact'></div>
{% endblock %}