@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Marvel');

html, body {
    margin: 0;
    padding: 0;
    position: static;
    height: 100%;
    font-family: Oswald, sans-serif;
}

.navbar {
    background: #000000;
}

.navbar .container-fluid {
    width: 85%;
    margin: 0 auto;
    background: #000000;
}

.panel, .panel-default {
    border-radius: 0;
    margin-bottom: 0;
}

.home, .info, .education, .portfolio, .contact, .footer {
    margin: 0 auto;
    padding-top: 50px;
    background: #3B707D ;
}


